In [15]:
import pandas as pd

df = pd.read_excel('Berlin_accidents_clean.xlsx')
df

,id,land,district,year,month,hour,day_of_week,accident_category,accident_details,accident_type,light_condition,acc_with_bike,acc_with_car,acc_with_ped,acc_with_motobike,acc_with_truck,acc_with_other,road_condition,longitude,latitude
0,219249,11,3,2021,11,18,2,3,0,3,2,0,1,0,1,0,0,1,13.426895,52.533940
1,219248,11,7,2021,12,19,7,3,6,2,2,0,1,1,0,0,0,1,13.392090,52.439951
2,219247,11,4,2021,12,17,4,3,5,2,2,0,1,0,0,0,0,0,13.326242,52.538028
3,219246,11,4,2021,12,15,7,3,5,2,1,0,1,0,1,0,0,1,13.316521,52.499534
4,219243,11,11,2021,12,9,5,3,3,6,0,0,1,0,0,0,1,2,13.525752,52.493867
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11261,112174,11,4,2021,3,16,4,3,6,2,0,0,1,1,0,0,0,1,13.296345,52.511008
11262,111541,11,4,2021,1,1,6,3,9,1,2,0,1,0,0,0,0,0,13.289496,52.493813
11263,110370,11,3,2021,1,20,1,3,3,6,2,0,1,0,0,0,0,1,13.423095,52.527534
11264,109998,11,7,2021,1,14,7,3,2,6,0,0,1,0,0,0,0,1,13.359259,52.474367
11265,109753,11,12,2021,1,14,2,3,5,3,0,0,1,0,0,0,1,1,13.312868,52.622461

In [16]:
#Getting Months names
month_names = {1: 'January', 2: 'February', 3: 'March', 4: 'April', 5: 'May', 6: 'June',
               7: 'July', 8: 'August', 9: 'September', 10: 'October', 11: 'November', 12: 'December'}

# use the map() method to replace the encoded months with their corresponding month names
df['month'] = df['month'].map(month_names)
df

,id,land,district,year,month,hour,day_of_week,accident_category,accident_details,accident_type,light_condition,acc_with_bike,acc_with_car,acc_with_ped,acc_with_motobike,acc_with_truck,acc_with_other,road_condition,longitude,latitude
0,219249,11,3,2021,November,18,2,3,0,3,2,0,1,0,1,0,0,1,13.426895,52.533940
1,219248,11,7,2021,December,19,7,3,6,2,2,0,1,1,0,0,0,1,13.392090,52.439951
2,219247,11,4,2021,December,17,4,3,5,2,2,0,1,0,0,0,0,0,13.326242,52.538028
3,219246,11,4,2021,December,15,7,3,5,2,1,0,1,0,1,0,0,1,13.316521,52.499534
4,219243,11,11,2021,December,9,5,3,3,6,0,0,1,0,0,0,1,2,13.525752,52.493867
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11261,112174,11,4,2021,March,16,4,3,6,2,0,0,1,1,0,0,0,1,13.296345,52.511008
11262,111541,11,4,2021,January,1,6,3,9,1,2,0,1,0,0,0,0,0,13.289496,52.493813
11263,110370,11,3,2021,January,20,1,3,3,6,2,0,1,0,0,0,0,1,13.423095,52.527534
11264,109998,11,7,2021,January,14,7,3,2,6,0,0,1,0,0,0,0,1,13.359259,52.474367
11265,109753,11,12,2021,January,14,2,3,5,3,0,0,1,0,0,0,1,1,13.312868,52.622461

In [17]:
#Getting district names
district_names = {1: 'Mitte', 2: 'Friedrichshain-Kreuzberg', 3: 'Pankow', 4: 'Charlottenburg-Wilmersdorf', 5: 'Spandau', 6: 'Steglitz-Zehlendorf',
               7: 'Tempelhof-Schöneberg', 8: 'Neukölln', 9: 'Treptow-Köpenick', 10: 'Marzahn-Hellersdorf', 11: 'Lichtenberg', 12: 'Reinickendorf'}

# use the map() method to replace the encoded months with their corresponding month names
df['district'] = df['district'].map(district_names)
df

,id,land,district,year,month,hour,day_of_week,accident_category,accident_details,accident_type,light_condition,acc_with_bike,acc_with_car,acc_with_ped,acc_with_motobike,acc_with_truck,acc_with_other,road_condition,longitude,latitude
0,219249,11,Pankow,2021,November,18,2,3,0,3,2,0,1,0,1,0,0,1,13.426895,52.533940
1,219248,11,Tempelhof-Schöneberg,2021,December,19,7,3,6,2,2,0,1,1,0,0,0,1,13.392090,52.439951
2,219247,11,Charlottenburg-Wilmersdorf,2021,December,17,4,3,5,2,2,0,1,0,0,0,0,0,13.326242,52.538028
3,219246,11,Charlottenburg-Wilmersdorf,2021,December,15,7,3,5,2,1,0,1,0,1,0,0,1,13.316521,52.499534
4,219243,11,Lichtenberg,2021,December,9,5,3,3,6,0,0,1,0,0,0,1,2,13.525752,52.493867
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11261,112174,11,Charlottenburg-Wilmersdorf,2021,March,16,4,3,6,2,0,0,1,1,0,0,0,1,13.296345,52.511008
11262,111541,11,Charlottenburg-Wilmersdorf,2021,January,1,6,3,9,1,2,0,1,0,0,0,0,0,13.289496,52.493813
11263,110370,11,Pankow,2021,January,20,1,3,3,6,2,0,1,0,0,0,0,1,13.423095,52.527534
11264,109998,11,Tempelhof-Schöneberg,2021,January,14,7,3,2,6,0,0,1,0,0,0,0,1,13.359259,52.474367
11265,109753,11,Reinickendorf,2021,January,14,2,3,5,3,0,0,1,0,0,0,1,1,13.312868,52.622461

In [18]:
#Getting day of the week
weekday_names = {1: 'Sunday', 2: 'Monday', 3: 'Tuesday', 4: 'Wednesday', 5: 'Thursday', 6: 'Friday',
               7: 'Saturday'}

# use the map() method to replace the encoded months with their corresponding month names
df['day_of_week'] = df['day_of_week'].map(weekday_names)
df

,id,land,district,year,month,hour,day_of_week,accident_category,accident_details,accident_type,light_condition,acc_with_bike,acc_with_car,acc_with_ped,acc_with_motobike,acc_with_truck,acc_with_other,road_condition,longitude,latitude
0,219249,11,Pankow,2021,November,18,Monday,3,0,3,2,0,1,0,1,0,0,1,13.426895,52.533940
1,219248,11,Tempelhof-Schöneberg,2021,December,19,Saturday,3,6,2,2,0,1,1,0,0,0,1,13.392090,52.439951
2,219247,11,Charlottenburg-Wilmersdorf,2021,December,17,Wednesday,3,5,2,2,0,1,0,0,0,0,0,13.326242,52.538028
3,219246,11,Charlottenburg-Wilmersdorf,2021,December,15,Saturday,3,5,2,1,0,1,0,1,0,0,1,13.316521,52.499534
4,219243,11,Lichtenberg,2021,December,9,Thursday,3,3,6,0,0,1,0,0,0,1,2,13.525752,52.493867
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11261,112174,11,Charlottenburg-Wilmersdorf,2021,March,16,Wednesday,3,6,2,0,0,1,1,0,0,0,1,13.296345,52.511008
11262,111541,11,Charlottenburg-Wilmersdorf,2021,January,1,Friday,3,9,1,2,0,1,0,0,0,0,0,13.289496,52.493813
11263,110370,11,Pankow,2021,January,20,Sunday,3,3,6,2,0,1,0,0,0,0,1,13.423095,52.527534
11264,109998,11,Tempelhof-Schöneberg,2021,January,14,Saturday,3,2,6,0,0,1,0,0,0,0,1,13.359259,52.474367
11265,109753,11,Reinickendorf,2021,January,14,Monday,3,5,3,0,0,1,0,0,0,1,1,13.312868,52.622461

In [19]:
#Translating severity
severity = {1: 'fatalities', 2: 'serious injuries', 3: 'minor injuries'}

# use the map() method to replace the encoded months with their corresponding month names
df['accident_category'] = df['accident_category'].map(severity)
df

,id,land,district,year,month,hour,day_of_week,accident_category,accident_details,accident_type,light_condition,acc_with_bike,acc_with_car,acc_with_ped,acc_with_motobike,acc_with_truck,acc_with_other,road_condition,longitude,latitude
0,219249,11,Pankow,2021,November,18,Monday,minor injuries,0,3,2,0,1,0,1,0,0,1,13.426895,52.533940
1,219248,11,Tempelhof-Schöneberg,2021,December,19,Saturday,minor injuries,6,2,2,0,1,1,0,0,0,1,13.392090,52.439951
2,219247,11,Charlottenburg-Wilmersdorf,2021,December,17,Wednesday,minor injuries,5,2,2,0,1,0,0,0,0,0,13.326242,52.538028
3,219246,11,Charlottenburg-Wilmersdorf,2021,December,15,Saturday,minor injuries,5,2,1,0,1,0,1,0,0,1,13.316521,52.499534
4,219243,11,Lichtenberg,2021,December,9,Thursday,minor injuries,3,6,0,0,1,0,0,0,1,2,13.525752,52.493867
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11261,112174,11,Charlottenburg-Wilmersdorf,2021,March,16,Wednesday,minor injuries,6,2,0,0,1,1,0,0,0,1,13.296345,52.511008
11262,111541,11,Charlottenburg-Wilmersdorf,2021,January,1,Friday,minor injuries,9,1,2,0,1,0,0,0,0,0,13.289496,52.493813
11263,110370,11,Pankow,2021,January,20,Sunday,minor injuries,3,6,2,0,1,0,0,0,0,1,13.423095,52.527534
11264,109998,11,Tempelhof-Schöneberg,2021,January,14,Saturday,minor injuries,2,6,0,0,1,0,0,0,0,1,13.359259,52.474367
11265,109753,11,Reinickendorf,2021,January,14,Monday,minor injuries,5,3,0,0,1,0,0,0,1,1,13.312868,52.622461

In [20]:
#Translating day light
light = {0: 'daylight', 1: 'twilight', 2: 'darkness'}

# use the map() method to replace the encoded months with their corresponding month names
df['light_condition'] = df['light_condition'].map(light)
df

,id,land,district,year,month,hour,day_of_week,accident_category,accident_details,accident_type,light_condition,acc_with_bike,acc_with_car,acc_with_ped,acc_with_motobike,acc_with_truck,acc_with_other,road_condition,longitude,latitude
0,219249,11,Pankow,2021,November,18,Monday,minor injuries,0,3,darkness,0,1,0,1,0,0,1,13.426895,52.533940
1,219248,11,Tempelhof-Schöneberg,2021,December,19,Saturday,minor injuries,6,2,darkness,0,1,1,0,0,0,1,13.392090,52.439951
2,219247,11,Charlottenburg-Wilmersdorf,2021,December,17,Wednesday,minor injuries,5,2,darkness,0,1,0,0,0,0,0,13.326242,52.538028
3,219246,11,Charlottenburg-Wilmersdorf,2021,December,15,Saturday,minor injuries,5,2,twilight,0,1,0,1,0,0,1,13.316521,52.499534
4,219243,11,Lichtenberg,2021,December,9,Thursday,minor injuries,3,6,daylight,0,1,0,0,0,1,2,13.525752,52.493867
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11261,112174,11,Charlottenburg-Wilmersdorf,2021,March,16,Wednesday,minor injuries,6,2,daylight,0,1,1,0,0,0,1,13.296345,52.511008
11262,111541,11,Charlottenburg-Wilmersdorf,2021,January,1,Friday,minor injuries,9,1,darkness,0,1,0,0,0,0,0,13.289496,52.493813
11263,110370,11,Pankow,2021,January,20,Sunday,minor injuries,3,6,darkness,0,1,0,0,0,0,1,13.423095,52.527534
11264,109998,11,Tempelhof-Schöneberg,2021,January,14,Saturday,minor injuries,2,6,daylight,0,1,0,0,0,0,1,13.359259,52.474367
11265,109753,11,Reinickendorf,2021,January,14,Monday,minor injuries,5,3,daylight,0,1,0,0,0,1,1,13.312868,52.622461

In [21]:
#Translating road condition
light = {0: 'dry', 1: 'wet/damp/slippery', 2: 'winter slippery'}

# use the map() method to replace the encoded months with their corresponding month names
df['road_condition'] = df['road_condition'].map(light)
df

,id,land,district,year,month,hour,day_of_week,accident_category,accident_details,accident_type,light_condition,acc_with_bike,acc_with_car,acc_with_ped,acc_with_motobike,acc_with_truck,acc_with_other,road_condition,longitude,latitude
0,219249,11,Pankow,2021,November,18,Monday,minor injuries,0,3,darkness,0,1,0,1,0,0,wet/damp/slippery,13.426895,52.533940
1,219248,11,Tempelhof-Schöneberg,2021,December,19,Saturday,minor injuries,6,2,darkness,0,1,1,0,0,0,wet/damp/slippery,13.392090,52.439951
2,219247,11,Charlottenburg-Wilmersdorf,2021,December,17,Wednesday,minor injuries,5,2,darkness,0,1,0,0,0,0,dry,13.326242,52.538028
3,219246,11,Charlottenburg-Wilmersdorf,2021,December,15,Saturday,minor injuries,5,2,twilight,0,1,0,1,0,0,wet/damp/slippery,13.316521,52.499534
4,219243,11,Lichtenberg,2021,December,9,Thursday,minor injuries,3,6,daylight,0,1,0,0,0,1,winter slippery,13.525752,52.493867
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11261,112174,11,Charlottenburg-Wilmersdorf,2021,March,16,Wednesday,minor injuries,6,2,daylight,0,1,1,0,0,0,wet/damp/slippery,13.296345,52.511008
11262,111541,11,Charlottenburg-Wilmersdorf,2021,January,1,Friday,minor injuries,9,1,darkness,0,1,0,0,0,0,dry,13.289496,52.493813
11263,110370,11,Pankow,2021,January,20,Sunday,minor injuries,3,6,darkness,0,1,0,0,0,0,wet/damp/slippery,13.423095,52.527534
11264,109998,11,Tempelhof-Schöneberg,2021,January,14,Saturday,minor injuries,2,6,daylight,0,1,0,0,0,0,wet/damp/slippery,13.359259,52.474367
11265,109753,11,Reinickendorf,2021,January,14,Monday,minor injuries,5,3,daylight,0,1,0,0,0,1,wet/damp/slippery,13.312868,52.622461

In [22]:
df.to_excel("Tableau_Berlin_accidents_2021.xlsx", index=False)

In [29]:
import pandas as pd

df1 = pd.read_excel('Berlin_accidents_clean_2018_2021.xlsx')
df1

,id,land,district,year,month,hour,day_of_week,accident_category,accident_details,accident_type,light_condition,acc_with_bike,acc_with_car,acc_with_ped,acc_with_motobike,acc_with_truck,acc_with_other,road_condition,longitude,latitude
0,219249,11,3,2021,11,18,2,3,0,3,2,0,1,0,1,0,0,1,13.426895,52.533940
1,219248,11,7,2021,12,19,7,3,6,2,2,0,1,1,0,0,0,1,13.392090,52.439951
2,219247,11,4,2021,12,17,4,3,5,2,2,0,1,0,0,0,0,0,13.326242,52.538028
3,219246,11,4,2021,12,15,7,3,5,2,1,0,1,0,1,0,0,1,13.316521,52.499534
4,219243,11,11,2021,12,9,5,3,3,6,0,0,1,0,0,0,1,2,13.525752,52.493867
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50108,208846,11,4,2018,12,10,6,3,5,3,0,0,1,0,0,0,0,0,13.266868,52.514261
50109,208848,11,3,2018,12,10,6,3,5,7,0,1,1,0,0,0,0,1,13.460732,52.563879
50110,208850,11,2,2018,12,9,6,3,2,6,0,0,1,0,0,0,0,1,13.451028,52.527412
50111,208851,11,11,2018,12,9,6,2,0,7,1,1,0,0,0,0,0,1,13.461215,52.525101
50112,208853,11,7,2018,12,7,6,3,5,3,1,0,1,0,0,0,0,1,13.403144,52.463429

In [30]:
#Getting Months names

month_names = {1: 'January', 2: 'February', 3: 'March', 4: 'April', 5: 'May', 6: 'June',
               7: 'July', 8: 'August', 9: 'September', 10: 'October', 11: 'November', 12: 'December'}

# map() method replaces the encoded months with their corresponding month names
df1['month'] = df1['month'].map(month_names)


#Getting district names
district_names = {1: 'Mitte', 2: 'Friedrichshain-Kreuzberg', 3: 'Pankow', 4: 'Charlottenburg-Wilmersdorf', 5: 'Spandau', 6: 'Steglitz-Zehlendorf',
               7: 'Tempelhof-Schöneberg', 8: 'Neukölln', 9: 'Treptow-Köpenick', 10: 'Marzahn-Hellersdorf', 11: 'Lichtenberg', 12: 'Reinickendorf'}

df1['district'] = df1['district'].map(district_names)

#Getting day of the week
weekday_names = {1: 'Sunday', 2: 'Monday', 3: 'Tuesday', 4: 'Wednesday', 5: 'Thursday', 6: 'Friday',
               7: 'Saturday'}


df1['day_of_week'] = df1['day_of_week'].map(weekday_names)

#Translating severity
severity = {1: 'fatalities', 2: 'serious injuries', 3: 'minor injuries'}


df1['accident_category'] = df1['accident_category'].map(severity)

#Translating day light
light = {0: 'daylight', 1: 'twilight', 2: 'darkness'}


df1['light_condition'] = df1['light_condition'].map(light)

#Translating road condition
light = {0: 'dry', 1: 'wet/damp/slippery', 2: 'winter slippery'}


df1['road_condition'] = df1['road_condition'].map(light)

df1

,id,land,district,year,month,hour,day_of_week,accident_category,accident_details,accident_type,light_condition,acc_with_bike,acc_with_car,acc_with_ped,acc_with_motobike,acc_with_truck,acc_with_other,road_condition,longitude,latitude
0,219249,11,Pankow,2021,November,18,Monday,minor injuries,0,3,darkness,0,1,0,1,0,0,wet/damp/slippery,13.426895,52.533940
1,219248,11,Tempelhof-Schöneberg,2021,December,19,Saturday,minor injuries,6,2,darkness,0,1,1,0,0,0,wet/damp/slippery,13.392090,52.439951
2,219247,11,Charlottenburg-Wilmersdorf,2021,December,17,Wednesday,minor injuries,5,2,darkness,0,1,0,0,0,0,dry,13.326242,52.538028
3,219246,11,Charlottenburg-Wilmersdorf,2021,December,15,Saturday,minor injuries,5,2,twilight,0,1,0,1,0,0,wet/damp/slippery,13.316521,52.499534
4,219243,11,Lichtenberg,2021,December,9,Thursday,minor injuries,3,6,daylight,0,1,0,0,0,1,winter slippery,13.525752,52.493867
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50108,208846,11,Charlottenburg-Wilmersdorf,2018,December,10,Friday,minor injuries,5,3,daylight,0,1,0,0,0,0,dry,13.266868,52.514261
50109,208848,11,Pankow,2018,December,10,Friday,minor injuries,5,7,daylight,1,1,0,0,0,0,wet/damp/slippery,13.460732,52.563879
50110,208850,11,Friedrichshain-Kreuzberg,2018,December,9,Friday,minor injuries,2,6,daylight,0,1,0,0,0,0,wet/damp/slippery,13.451028,52.527412
50111,208851,11,Lichtenberg,2018,December,9,Friday,serious injuries,0,7,twilight,1,0,0,0,0,0,wet/damp/slippery,13.461215,52.525101
50112,208853,11,Tempelhof-Schöneberg,2018,December,7,Friday,minor injuries,5,3,twilight,0,1,0,0,0,0,wet/damp/slippery,13.403144,52.463429

In [31]:
df1.to_excel("New_Tableau_Berlin_accidents_2018_2021.xlsx", index=False)